{% extends 'users/base.html' %}

{% block title %}HR Manager Dashboard{% endblock %}

{% block content %}
    <h1 class="text-center">Welcome, Mr {{user.email}}!</h1>
    <p class="text-center ">This is your dashboard.</p>
    {#  Add HR Manager-specific content here #}
    {# Here we are going to implement the different HR manager functionnalities as register new users(managers or operators), view the humsn ressources of the company #}
    <div class="container">
        <h2 class="text-center">HR Manager Functionalities</h2>
        <ul>
            <li><a href="{% url 'users:hr_register' %}">Register New Manager or operator</a></li>
            <li><a href="{% url 'users:hr_list' %}">View Human Resources</a></li>
        </ul>
{% endblock %}

## This is the HR Manager dashboard template.
