{% extends 'users/base.html' %}
{% load bootstrap5 %}

{% block title %}Validate User{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Validate User</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary w-100">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

# This template is used to validate a user. It includes a form that allows the CEO to approve or reject the user's registration.