<!DOCTYPE html>
<html lang="en">
<head>
    {% load django_bootstrap5 static %}
    <meta charset="UTF-8">
    <title>{% block title %}Accountant app{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="d-flex">
        <aside class="bg-light p-3" style="width: 200px;">
            <img src= {% static '/assets/images/logo.png' %} alt="Logo" style="height:50px;">
            <h5>ATI SARL accountant app</h5>
            <nav class="nav flex-column">
                <!-- Links to other html files -->
                <a class="nav-link" href="{% url '#' %}">Home</a>
                <a class="nav-link" href="{% url '#' %}">Historic</a>
                <a class="nav-link" href="{% url '#' %}"> Data </a>
                <a class="nav-link" href="{% url '#' %}">Settings</a>
                
            </nav>
        </aside>

        <main class="p-4 flex-grow-1">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>